<!DOCTYPE html>
<html>

<head>
  <title>Raid Reminder</title>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='/stylesheets/wowhead.css' />
</head>

<body>
  <nav class="navbar navbar-expand-xl navbar-dark fixed-top" id="header-nav" data-header-scroll-add="navbar-shrink">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Raid Reminder</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/">Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/softres/calendar">Calendar</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container">
    {{{body}}}
  </div>


  <script src="https://code.jquery.com/jquery-3.6.0.min.js" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>